header .header__column--right {
  display: none;
}

.header__column.header__column--center {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.header__columns {
  height: 85px;
  padding: 0;
  margin: 0;
}

.header-logo__image {
  width: 202px !important;
  height: auto !important;
  min-height: auto;
}
